

 .headline-style {

    .headline_copy_style {
      font-family: "Proxima N W02 Smbd";
      color: #072557;
      position: absolute;
      top: 195px;
      width: 320px;
      font-size: 24px;
      line-height: 32px;
     
    }
  }

  .subheadline-style {

    .sub_headline_copy_style {
      font-family: "Proxima N W01 Reg";
      color: #072557;
      position: absolute;
      top: 310px;
      width: 320px;
      font-size: 15px;
      letter-spacing: 0.5px;
      line-height: 23px;
    }
  }
