

.vdo-progress-holder {
    height: 10px; 
    visibility: $videoProgressBarVisibility;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0,0,0,0.2);


    .track {
        position: relative;
        width: 100%;
        margin: 0px 0px 0 0px;
        height: 100%;
        background: rgba(100,100,100,0.2);
        display: inline-block;
        vertical-align: top;

        .progress {
            position: absolute;
            width: 0%;
            height: 100%;
            background: rgb(243, 0, 0);
          }
          
    }
  }
  


  
  .scrubber {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin: -4px 0 0 -9px;
      background: #fff;
      border: solid 1px #ddd;
      cursor: pointer;
  }



  .videoControllerHolderStyle {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: $adMaxWidth;
    max-height: $adHeight;
    overflow: hidden;
    pointer-events: none;
    @include breakpoint(small) {width: $adMinWidth;}

    .vdo-button {
      cursor: pointer;
      position: absolute;
      background: transparent;
      @include bgimage($playerControl-playBtn);
      background-size: cover;
      background-repeat: no-repeat;
      outline: none;
      width: $playerControl-playBtnWidthHeight;
      height: $playerControl-playBtnWidthHeight;  
      @extend .dead-center-absolute;
      pointer-events: auto;

      @include breakpoint(small) {
        right: 30px;
        bottom: 30px;
        margin: unset;
        left: unset;
        top: unset;
      }

      @include breakpoint(portrait) {
        right: 30px;
        bottom: 30px;
        margin: unset;
        left: unset;
        top: unset;
      }

      @include breakpoint(landscape) {
        right: 30px;
        bottom: 30px;
        margin: unset;
        left: unset;
        top: unset;
      }


    }
  }

