

@import 'settings';
@import 'reset';
@import 'fonts';
@import 'common';
@import 'mixin';
@import 'video';



.btnStyle {
  position: aboslute;
  left: $Left-padding;
  bottom: 50px; 
}



.stageStyle {

  position: relative;
  width: 100%;
  height: 600px;


  .adContainerStyle {
    background-color: $adBGcolor;
    max-width: 1125px;
    min-width: 705px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;


    @include breakpoint(small) {width: $adMinWidth;}
    @include breakpoint(medium) {width: $adMediumWidth;}
    @include breakpoint(large) {width: $adLargeWidth;}
    @include breakpoint(portrait) {width: $adMinWidth;}
    @include breakpoint(landscape) {width: $adMediumWidth;}

    box-sizing: border-box;
    border: 1px solid $stage-border-color;

    @import 'cta';

    .videoStillShotStyle {
      @extend .background-commom;
      overflow: hidden;
      position: absolute;
      right: 0px;
      visibility: visible;
      @include bgimage($extraLargeImage);

      @include breakpoint(small) {
        width: $adMinWidth;
        @include bgimage($smallImage);
        background-size: contain;
        background-position: 100% 0%;
        overflow: hidden;
      }

      @include breakpoint(medium) {@include bgimage($mediumImage);}
      @include breakpoint(large) {@include bgimage($largeImage);}
    }


    .videoContainerStyle {
      visibility: hidden;
      @extend .fullBleed;
      position: absolute;

      .playerHolderStyle {
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: $adMaxWidth;
        @extend .fullBleed;
      }

    }


    .centerElementsStyle {
      visibility: visible;
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0px;
      top: 0px;
    //  box-sizing: border-box;

      background: linear-gradient(to right,  $leftColor 0%,$midColor  70%, $rightColor 100%); 

      .contentHolderStyle {
        position: absolute;
        height: 100%;
       // bottom: 80px;
        padding-left: $Left-padding;
      }

        @import 'logo';
      
        @import 'copy';
       
    }

    .videoControllerHolderStyle {
      position: absolute;
      top: 0px;
      right: 0px;
      max-width: $adMaxWidth;
      max-height: $adHeight;
      overflow: hidden;
      pointer-events: none;
      @include breakpoint(small) {width: $adMinWidth;}

      .vdo-button {
        cursor: pointer;
        position: absolute;
        background: transparent;
        @include bgimage($playerControl-playBtn);
        background-size: cover;
        background-repeat: no-repeat;
        outline: none;
        width: $playerControl-playBtnWidthHeight;
        height: $playerControl-playBtnWidthHeight;  
        @extend .dead-center-absolute;
        pointer-events: auto;
  
        @include breakpoint(small) {
          right: 30px;
          bottom: 30px;
          margin: unset;
          left: unset;
          top: unset;
        }
  
        @include breakpoint(portrait) {
          right: 30px;
          bottom: 30px;
          margin: unset;
          left: unset;
          top: unset;
        }
  
        @include breakpoint(landscape) {
          right: 30px;
          bottom: 30px;
          margin: unset;
          left: unset;
          top: unset;
        }
  
  
      }
    }



    .vdo-button-play {
      cursor: pointer;
      position: absolute;
      background: transparent;
      @include bgimage($playerControl-playBtn);
      background-size: cover;
      background-repeat: no-repeat;
      outline: none;
    }
    
    .vdo-button-pause {
      cursor: pointer;
      position: absolute;
      background: transparent;
      @include bgimage($playerControl-pauseBtn);
      background-size: cover;
      background-repeat: no-repeat;
      outline: none;
    }

  }

}

